main {
	width: 700px;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	background-color: white;
	border: 1px black solid;
}

section:nth-child(2n) {
	background-color: #CCCCCC;
}

section:nth-child(2n + 1) {
	background-color: #EEEEEE;
}