body {
	font-family: Arial, sans-serif;
    font-size: 11px;
}

.suggestlink {
    color: black;
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.suggestlink:first-child {
    border-top: 1px solid black;
}

.suggestlinkover {
    color: white;
	background-color: #3366CC;
	cursor: pointer;
}

#suggestions {
	position: absolute;
    left: 49px;
	background-color: #FFFFFF; 
	text-align: left;
}